// src/styles/global.scss
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  color: var(--border);
  background: var(--border);
  margin-top: 1em;
  margin-bottom: 1em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

input {
  outline: 2px solid var(--border);
  padding: 0.8em;
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--accent);
}

body {
  @include center();
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
