// src/styles/global.scss
@import "./variables";

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
